<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="hiro-loader" style="display: none"></div>
  <header class="hiro-header home-header" id="top">
  </header>
  <main>


    {{ block "main" . }}

    {{ end }}
  </main>
  <footer class="hiro-footer wow fadeInUp">
    {{ partial "footer.html" . }}
  </footer>
</body>

</html>
