{{ define "main" }}
<section class="hiro-section tags-section">
  <div class="container">
    <h1>{{ .Title }}</h1>
    <ul class="tags-list col-md-8">
      {{ .Content }}
      {{ range .Pages }}
        {{ .Summary }}
      {{ end }}
      {{ range .Data.Terms.ByCount }}
          
        <li class="tags-item"><a class="title is-5 is-size-6-mobile tags-link" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
            {{ $Totalpage:= len .Pages }}
            <span>{{ $Totalpage }}</span> {{ if ne $Totalpage 1 }}{{ end }}
        </li>
        {{ end }}
      </ul>
      <form action="https://vit.ooo/#top">
        <button class="post-back-button" type="submit"><svg fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" transform="rotate(270)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M5 21h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2zm7-14 5 5h-4v5h-2v-5H7l5-5z"></path></g></svg>На главную</button>
      </form>
  </div>
</section>
<style>
  .tags-section {
    background-color: #b39ddb;
  }

  h1 {
    margin-bottom: 15px;
    font-size: 3.5rem;
  }

  a {
    color: #000;
  }

  .tags-list {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 20px;
    margin-bottom: 0;
    padding-bottom: 20px;
  }

  .tags-item {
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    padding: 10px 14px;
    background-color: #f1f1f1;
    font-size: 2rem;  
    list-style-type: none;
    line-height: 100%;
  }

  svg {
    width: 80px;
    height: 80px;
  }

  span {
    border: 1px solid #d0c2e9;
    padding: 1px 10px;
    background-color: #d0c2e9;
  }
  @media (max-width: 767px) {
    .tags-item {
      font-size: 1.5rem;
      padding: 7px 11px;
    }
    span {
      padding: 0 8px;
    }
  }


</style>
{{ end }}
