{{ define "main" }}
{{ partial "menu.html" (dict "menuID" "main" "page" .) }}


<section class="posts-section hiro-section" id="posts">
    <div class="container">
        <div class="row posts-top">
            <h2 class="posts-title">Наш блог</h2>
            <p class="posts-text">{{ .Content }}</p>
        </div>

            <ul class="row posts-list">
            {{range .Site.RegularPages}}
            
              <li class="col-md-5 col-xl-3 card post-card" style="width: 22rem">
                    <div class="card-body">
                        <a href="{{.Permalink}}">
                            <img class="card-img-top interns-image" src="{{ .Permalink }}{{ .Params.header_image }}"
                                alt="interns-image" />
                        </a>
                        <div class="post-wrap">
                          <div class="post-wrap-top">
                            <h5 class="card-title">{{.Title}}</h5>
                            <p class="card-text card-text-blog text-muted">{{.Params.description}}</p>
                          </div>


                          {{ $taxonomy := "tags" }}
                          {{ with .GetTerms $taxonomy }}
                          <div class="post-wrap-bottom">
                            <p class="posts-hesh">
                                {{ range $k, $_ := . -}}
                                {{ if $k }}, {{ end }}
                                <a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>
                                {{- end }}
                            </p>
                            {{ end }}

                            <a href="{{.Permalink}}" class="card-link bottom post-button">Перейти</a>

                            <span class="arrow-right"></span>
                          </div>
                        </div>
                    </div>
                <!-- </div> -->
            </li>
            {{end}}
          </ul>
          <form action="https://vit.ooo/#top">
            <button class="post-back-button" type="submit"><svg fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" transform="rotate(270)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M5 21h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2zm7-14 5 5h-4v5h-2v-5H7l5-5z"></path></g></svg>На главную</button>
          </form>
            
    </div>
</section>
<style>
  p {
    font-size: 1.5rem;
  }
  .posts-title {
    font-size: 3rem;
  }

  .hiro-nav-popup-toggle {
    display: none;
  }
  svg {
    width: 80px;
    height: 80px;
  }
  
</style>
{{ end }}



