{{ define "main" }}
{{ partial "menu.html" (dict "menuID" "main" "page" .) }}
{{ partial "hiro-nav-popup-modal.html" }}

<section class="hiro-section" id="services">
  <div class="container">
      <div class="service-section">
          <h2 class="section-title career-section-title">Услуги</h2>
          <p class="service-text">{{ .Content }}</p>
          <div class="row">
              <div class="col-md-4 mb-4 mb-md-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                  <h3 class="service-category-title service-category-title-single">Development</h3>
                  <ul class="service-list list-group list-group-flush">
                      <li class="list-group-item">
                        <a href="/services/website" class="service-list__link link">Сайты, лендинги и порталы</a>
                      </li>
                      <li class="list-group-item">
                        <a href="/services/web-applications" class="service-list__link link">Прогрессивные веб-приложения</a>
                      </li>
                      <li class="list-group-item">
                        <a href="/services/mobile-app" class="service-list__link link">
                          Мобильные приложения Android и iOS
                      </a>
                    </li>
                      <li class="list-group-item">
                        <a href="/services/telegram-bots" class="service-list__link link">Telegram-боты</a>
                      </li>
                      <li class="list-group-item">
                        <a href="/services/qr-marketing" class="service-list__link link">QR-маркетинг</a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-4 mb-4 mb-md-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                  <h3 class="service-category-title">Research</h3>
                  <ul class="service-list list-group list-group-flush">
                      <li class="list-group-item">
                        <a href="/services/big-data" class="service-list__link link">Сбор больших данных</a>
                      </li>
                      <li class="list-group-item">
                        <a href="/services/storage" class="service-list__link link">
                          Хранение, обработка и визуализация
                      </a>
                    </li>
                      <li class="list-group-item">
                        <a href="/services/browser-automation" class="service-list__link link">
                          Веб-скрейпинг и автоматизация браузера
                      </a>
                    </li>
                      <li class="list-group-item">
                        <a href="/services/blockchain" class="service-list__link link">
                          Интеграция в блокчейн и смарт-контракты
                      </a>
                    </li>
                      <li class="list-group-item">
                        <a href="/services/neural-networks" class="service-list__link link">
                          Машинное обучение и нейронные сети
                      </a>
                    </li>
                  </ul>
              </div>
              <div class="col-md-4 mb-4 mb-md-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                  <h3 class="service-category-title">DevOps</h3>
                  <ul class="service-list list-group list-group-flush">
                      <li class="list-group-item">
                        <a href="/services/cloud-infrastructure-administration" class="service-list__link link">
                          Администрирование облачной инфраструктуры
                      </a>
                    </li>
                      <li class="list-group-item">
                        <a href="/services/continuous-integration-and-deployment" class="service-list__link link">
                          Непрерывные интеграция и развёртывание
                      </a>
                    </li>
                      <li class="list-group-item">
                        <a href="/services/containerization-of-applications" class="service-list__link link">Контейнеризация приложений</a>
                      </li>
                      <li class="list-group-item">
                        <a href="/services/document-oriented-databases" class="service-list__link link">
                          Документоориентированные базы данных
                      </a>
                    </li>
                      <li class="list-group-item">
                        <a href="/services/flexible-development-methodologies" class="service-list__link link">Гибкие методологии разработки</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>

<style>
  .service-category-title-single {
    font-size: 24px;
  }

  .service-section {
    padding-right: 0;
  }
  
  .hiro-nav-popup-toggle {
    display: none;
  }                                                           
 
</style>

{{ end }}



