{{ define "main" }}
<section class="posts-section hiro-section" id="posts">
  <div class="container">
    <div class="row">
      <h2>{{ .Title }}</h2>

      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

      {{ .Content }}
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
      <hr>
      {{ with .NextInSection }}
      <a class="link-hover-fx" href="{{ .Permalink }}">{{ .Title }}
        <span style="font-size:3em">
          ➡️
          <span>
      </a>
      {{ end }}
      <button class="link-hover-fx" onclick="window.history.back()">Вернуться</button>

    </div>
  </div>
</section>
{{ end }}