{{ define "main" }}
<style>
.single-section {
  background-image: linear-gradient(to right, #fff 0%, #fff 70%, #f0f8ff 70%, #f0f8ff 100%);
  }

  .single-post__date {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.single-post__header {
  font-size: clamp(2rem, 5vw, 3rem);
}

.single-post__content {
  padding-top: 20px;
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.single-post__content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 15px;
}

.single-post__content_tags {
  padding-top: 20px;
}

.single-post__content_tags div {
  display: flex;
}

.single-post__content_tags div ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-left: 20px;
  flex-wrap: wrap;
}

.single-post__content_tags div li {
  position: relative;
}

.single-post__content_tags div li::before {
  content: "#";
  position: absolute;
  left: clamp(-15px, -3vw, -3px);
  color: #007BFF;
}

.single-post__nav {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  letter-spacing: 3.94px;
  font-weight: 600;
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.single-post__nav button {
  border: none;
  background-color: transparent;
  letter-spacing: 3.94px;
}

.single-post__nav a {
  text-decoration: none;
  color: #000;
  text-align: center;
}
</style>
{{ partial "menu.html" (dict "menuID" "main" "page" .) }}
{{ partial "hiro-nav-popup-modal.html" }}
<section class="posts-section hiro-section single-section" id="posts">
  <div class="container">
    <div class="row">
      <article class="single-post">
      <h2 class="single-post__header">{{ .Title }}</h2>
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}" class="single-post__date">{{ $dateHuman }}</time>
        
      <div class="single-post__content">
      {{ .Content }}
        <div class="single-post__content_tags">{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
        </div>
      </div>

      <hr>
      <div class="single-post__nav">
      {{ with .NextInSection }}
      <a class="link-hover-fx" href="{{ .Permalink }}">{{ .Title }}
        <span>
          ➡️
        </span>
      </a>
      {{ end }}
      <button class="link-hover-fx" onclick="window.history.back()">⬅️ Вернуться</button>
      </div>
    </article>          
    </div>
  </div>
</section>
{{ end }}