<section class="bg-primary hiro-section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center wow fadeInDown slow"
                style="visibility: visible; animation-name: fadeInDown;">
                <h2 class="section-title mb-3">Агентство цифровых интеграций</h2>
                <p class="section-text-ct">
                    «вАйТи» — это не только команда профессионалов, которая
                    поможет Вам и Вашему бизнесу стать лидером в своем сегменте или
                    обойти конкурентов, это также пул собственных, протестированных
                    цифровых решений для оптимизации бизнеса, которые гарантируют
                    успех их использования.
                </p>
            </div>
            <div class="col-md-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                {{ $image := resources.Get "img/art.png" }}
                {{ $image := $image.Resize "x334" }}
                <img loading="lazy" src="{{ $image.RelPermalink }}" class="w-100 mb-5" >
    
                <p class="section-text-light">
                    Доверяя нам свои бизнес-процессы, вы получаете не только
                    результат, но и понимание их функционирования и связей.
                </p>
                <!--button class="hiro-btn-outline">VIEW MORE</button-->
            </div>
        </div>
    </div>
</section>