<section class="career-section hiro-section" id="career">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="section-title wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                    Построй<br>карьеру с нами
                </h2>
            </div>
            <div class="col-md-6 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                <p class="section-text-ct mb-5">
                    Мы предлагаем обучение с последующим трудоустройством и
                    гарантированной заработной платой до 200&nbsp;000 руб.
                </p>
                <button class="hiro-btn-outline" data-toggle="modal" data-target="#car">
                    ДЕТАЛИ
                </button>
            </div>
        </div>
        <div class="modal fade" id="car" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            Карьера вАйТи
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <svg class="btn-svg" aria-hidden="true" viewBox="0 0 24 24" fill="#000" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM15.36 14.3C15.65 14.59 15.65 15.07 15.36 15.36C15.21 15.51 15.02 15.58 14.83 15.58C14.64 15.58 14.45 15.51 14.3 15.36L12 13.06L9.7 15.36C9.55 15.51 9.36 15.58 9.17 15.58C8.98 15.58 8.79 15.51 8.64 15.36C8.35 15.07 8.35 14.59 8.64 14.3L10.94 12L8.64 9.7C8.35 9.41 8.35 8.93 8.64 8.64C8.93 8.35 9.41 8.35 9.7 8.64L12 10.94L14.3 8.64C14.59 8.35 15.07 8.35 15.36 8.64C15.65 8.93 15.65 9.41 15.36 9.7L13.06 12L15.36 14.3Z" fill="#000"></path> </g></svg>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>Сейчас открыты вакансии стажёров</h4>
                        
                        <ul>
                          <li class="modal-title-position">Back-end</li>
                          <li>Python, ASGI, FastAPI, Uvicorn, MongoDB, InfluxDB,
                            Redis, RabbitMQ, WebSockets;</li>
                          <li>Linux, Nginx;</li>
                        </ul>
                        <!-- <p>
                          Back-end: Python, ASGI, FastAPI, Uvicorn, MongoDB, InfluxDB,
                          Redis, RabbitMQ, WebSockets;
                        </p>
                        <p>Linux, Nginx;</p> -->
                        <ul>
                          <li class="modal-title-position">Front-end</li>
                          <li>Node.js, Vite.js, Vue.js, Quasar;</li>
                          <li>HTML5, CCS3;</li>
                          <li>JavaScript ES6+;</li>
                          <li>Git и Docket;</li>
                          <li>Go и Rust;</li>
                          <li>Эллиптическая криптография и блокчейн.</li>
                        </ul>
                        <!-- <p>Front-end: Node.js, Vite.js, Vue.js, Quasar;</p> -->
                        <!-- <p>HTML5, CCS3;</p> -->
                        <!-- <p>JavaScript ES6+;</p> -->
                        <!-- <p>Git и Docket;</p> -->
                        <!-- <p>Go и Rust;</p>
                        <p>Эллиптическая криптография и блокчейн.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
  .modal-title {
    font-size: 3rem;
  }

  .btn-svg {
    fill: black;
    width: 60px;
  }

  .modal-title-position {
    font-size: 2rem;
    list-style-type: disc;
    }
  ul {
    list-style-type: none;
  }



</style>
