<section class="career-section hiro-section" id="career">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="section-title wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                    Построй<br>карьеру с нами
                </h2>
            </div>
            <div class="col-md-6 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                <p class="section-text-ct mb-5">
                    Мы предлагаем обучение с последующим трудоустройством и
                    гарантированной заработной платой до 200&nbsp;000 руб.
                </p>
                <button class="hiro-btn-outline" data-toggle="modal" data-target="#car">
                    ДЕТАЛИ
                </button>
            </div>
        </div>
        <div class="modal fade" id="car" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            Карьера вАйТи
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>Сейчас открыта вакансия стажёра</h4>
                        <p>Linux, Nginx;</p>
                        <p>
                            Back-end: Python, ASGI, FastAPI, Uvicorn, MongoDB, InfluxDB,
                            Redis, RabbitMQ, WebSockets;
                        </p>
                        <p>Front-end: Node.js, Vite.js, Vue.js, Quasar;</p>
                        <p>HTML5, CCS3;</p>
                        <p>JavaScript ES6+;</p>
                        <p>Git и Docket;</p>
                        <p>Go и Rust;</p>
                        <p>Эллиптическая криптография и блокчейн.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>