<section class="contact-section hiro-section" id="contact">
    <div class="container wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
      <h6 class="font-weight-semibold mb-4 mb-md-0">
        Мы открыты для любых идей и предложений.
      </h6>
      <h2 class="section-title">Давайте общаться</h2>
      <div class="contact-address">
        <div class="row">
          <div class="col-md-5">
            <p class="font-weight-medium">
              Кисловодск,<br>
              ул. Чайковского,<br>д. 26А офис 1
            </p>
          </div>
          <div class="col-md-5 mb-4 mb-md-0">
            <p class="font-weight-medium">
              <a href="tel:+79283468468">+7 928 3 468 468 </a>
              <br>
              <a href="mailto:mail@yzoz.com">mail@yzoz.com</a>
            </p>
            <div class="nav contact-social-links">
              <a href="https://t.me/pastuhholmov" class="nav-link">
                <i class="fa-brands fa-telegram"></i>
              </a>
              <a href="https://wa.me/79620031286" class="nav-link">
                <i class="fa-brands fa-whatsapp"></i>
              </a>
              <a href="https://github.com/yzoz" class="nav-link">
                <i class="fa-brands fa-github"></i>
              </a>
              <a href="https://www.youtube.com/@pastuhholmov" class="nav-link">
                <i class="fa-brands fa-youtube"></i>
              </a>
              <a href="https://discord.gg/kjvBdmWU" class="nav-link">
                <i class="fa-brands fa-discord"></i>
              </a>
            </div>
          </div>
          <div class="col-md-2 d-flex align-items-end">
            <a href="#top" class="go-top-btn" style="font-size:3em">
              <svg fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M5 21h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2zm7-14 5 5h-4v5h-2v-5H7l5-5z"></path></g></svg>
              <span class="sr-only">Go to top</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
