
    <div class="container d-flex flex-wrap justify-content-lg-between align-items-center">
      <p class="mb-0 footer-text">
        © ООО «вАйТи» {{ now.Year }}; ИНН: 2628061464; ОГРН: 1222600013041
      </p>
      <!--nav class="footer-nav nav">
                <a href="#!" class="nav-link">Terms and Conditions</a>
                <a href="#!" class="nav-link">Privacy Policy</a>
                <a href="#!" class="nav-link">Cookie Policy</a>
            </nav-->
    </div>
{{ partialCached "head/js.html" . }}
