<div class="hiro-nav-popup-modal">
    <div class="hiro-nav-popup-modal-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 menu-wrapper">
            <ul class="nav hiro-main-nav">
              <li class="nav-item">
                <a href="#about" class="nav-link">О нас</a>
              </li>
              <li class="nav-item">
                <a href="#services" class="nav-link">Услуги</a>
              </li>
              <li class="nav-item">
                <a href="#works" class="nav-link">Работы</a>
              </li>
              <li class="nav-item">
                <a href="#team" class="nav-link">Команда</a>
              </li>
              <li class="nav-item">
                <a href="#career" class="nav-link">Карьера</a>
              </li>
              <li class="nav-item">
                <a href="https://vit.ooo/posts" class="nav-link">Блог</a>
              </li>
              <li class="nav-item">
                <a href="#contact" class="nav-link">Контакт</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 blog-posts text-white hiro-pro-nav">
            <h5 class="popup-blog-headng">Последнее</h5>
            <div class="media mb-4">
              {{ $image := resources.Get "img/pro-narasimha.png" }}
              {{ $image := $image.Resize "x140" }}
              <img loading="lazy" src="{{ $image.RelPermalink }}"  class="img-fluid mr-4"  width="140px">
  
              <div class="media-body align-self-end">
                <h5 class="popup-blog-post-title">
                  <a href="#works" class="pro-link text-white">Нарасимха:<br>Крипто-пузыри</a>
                </h5>
              </div>
            </div>
            <div class="media mb-4">
              {{ $image := resources.Get "img/pro-yat.png" }}
              {{ $image := $image.Resize "x140" }}
              <img loading="lazy" src="{{ $image.RelPermalink }}"  class="img-fluid mr-4"  width="140px">
              <div class="media-body align-self-end">
                <h5 class="popup-blog-post-title">
                  <a href="#works" class="pro-link text-white">Ятѣ: Обмен<br>Ценностями</a>
                </h5>
              </div>
            </div>
            <div class="media mb-4">
              {{ $image := resources.Get "img/pro-gm.png" }}
              {{ $image := $image.Resize "x140" }}
              <img loading="lazy" src="{{ $image.RelPermalink }}"  class="img-fluid mr-4"  width="140px">
                            
              <div class="media-body align-self-end">
                <h5 class="popup-blog-post-title">
                  <a href="#works" class="pro-link text-white">Град мастеров: Ярмарки<br>Рукоделья</a>
                </h5>
              </div>
            </div>
            <!--p><a href="#works" class="text-white link-hover-fx text-decoration-none" class="font-weight-medium">Все</a></p-->
          </div>
        </div>
      </div>
    </div>
  </div>
