

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}

<nav class="nav-header">
  <div class="container">
    <div class="hiro-nav">
      <a href="https://vit.ooo/" class="nav-brand logo wow tada slow" style="visibility: visible; animation-name: tada;">вАйТи</a>
      <button class="hiro-nav-popup-toggle">
        <svg width="20px" height="18px" viewBox="0 0 20 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Hiro" stroke="#fff" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="hiro-agency" transform="translate(-964.000000, -37.000000)" fill="#FFFFFF">
              <g id="Menu" transform="translate(964.000000, 37.000000)">
                <g id="menu" fill="#fff">
                  <rect id="Rectangle" fill-rule="nonzero" x="-8.05281767e-14" y="7.50795322" width="19.9609942" height="2.4951462"></rect>
                  <rect id="Rectangle" fill-rule="nonzero" x="-8.05281767e-14" y="14.9964327" width="19.9609942" height="2.4951462"></rect>
                  <rect id="Rectangle" fill-rule="nonzero" x="-8.05281767e-14" y="0.0194736842" width="19.9609942" height="2.4951462"></rect>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </button>
    </div>


  </div>
</nav>

{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li>
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
