<section class="posts-section hiro-section" id="posts">
    <div class="container">
        <div class="row">
            <p>{{ .Content }}</p></br>
            {{range site.RegularPages}}
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="card post-card h-100">
                    <div class="card-body pb-0">
                        <a href="{{.Permalink}}">
                            <img class="card-img-top interns-image mb-2" src="{{ .Permalink }}{{ .Params.header_image }}"
                                alt="interns-image" />
                        </a>
                        <h5 class="card-title">{{.Title}}</h5>
                        <p class="card-text text-muted">{{.Params.description}}</p>



                        {{ $taxonomy := "tags" }}
                        {{ with .GetTerms $taxonomy }}
                        <p>
                            {{ range $k, $_ := . -}}
                            {{ if $k }}, {{ end }}
                            <a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>
                            {{- end }}
                        </p>
                        {{ end }}

                        


                    </div>
                    <div class="card-footer bg-transparent border-0 pt-0">
                        <a href="{{.Permalink}}" class="card-link bottom">Перейти</a>
                        <span class="arrow-right"></span>
                      </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</section>