<section class="posts-section hiro-section" id="posts">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card post-card" style="width: 22rem">
          <div class="card-body">
            <img
              class="card-img-top interns-image"
              src="/posts/post-1/happy-birthday.jpg"
              alt="interns-image"
            />
            <h5 class="card-title">Ура нам 1 год</h5>
            <p class="card-text text-muted">Неполный список наших достижений</p>
            <a href="#" class="card-link bottom">
              <span>Перейти</span>
              <span class="arrow-right"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card post-card" style="width: 22rem">
          <div class="card-body">
            <img
              class="card-img-top interns-image"
              src="/posts/post-3/bryce-canyon.jpg"
              alt="interns-image"
            />
            <h5 class="card-title">Эксперимент с набором стажеров</h5>
            <p class="card-text text-muted">Какой-то текст</p>
            <a href="#" class="card-link bottom">
              <span>Перейти</span>
              <span class="arrow-right"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card post-card" style="width: 22rem">
          <div class="card-body">
            <img
              class="card-img-top interns-image"
              src="/posts/post-2/game-dev.jpg"
              alt="interns-image"
            />
            <h5 class="card-title">Выход в гейм дев</h5>
            <div class="margin-bottom-10px">
              <p class="card-text text-muted">Интелектуальная игра Snakeword</p>
              <a href="#" class="card-link">
                <span>Перейти</span>
                <span class="arrow-right"></span>
              </a>
            </div>
            <div class="bottom">
              <p class="card-text text-muted">Карточная игра Дурак</p>
              <a href="#" class="card-link">
                <span>Перейти</span>
                <span class="arrow-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
