<section class="projects-section hiro-section" id="works">
  <div class="container" style="margin-top: 50px">
    <div class="row">
      <div class="col-md-6 mb-md-0 container_foto wow fadeInLeft"
        style="visibility: visible; animation-name: fadeInLeft;">
        <div class="container-container" data-toggle="modal" data-target="#narasimha">
          <article class="text-left wow wobble slower" style="visibility: visible; animation-name: wobble;">
            <h2>Narasimha</h2>
            <h4>Обработка и хранение рыночных данных</h4>
          </article>
          {{ $image := resources.Get "img/pro-narasimha.png" }}
          {{ $image := $image.Resize "x515" }}
          <img loading="lazy" src="{{ $image.RelPermalink }}" class="team-member-thumbnail">
        </div>
      </div>
      <div class="modal fade" id="narasimha" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Narasimha: провайдер рыночных данных
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>
                Пожалуй, одним из самых показательных индикаторов настроения
                инвесторов является то, в какую сторону исполняются рыночные
                заявки.
              </p>
              <p>
                Пузыри - это объём разницы между рыночной покупкой и
                продажей за некий интервал времени.
              </p>
              <p>
                Второй индикатор - это непрерывная рыночная
                Accumulation/Distribution (AD), основанная на Пузырях.
              </p>
              <p>Третий - это True Strength Index (TSI) от AD и Цены.</p>
              <p>Последний график - это AD по уровням Цены.</p>
              <p><a href="https://narasimha.net/">narasimha.net</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-md-0 container_foto wow fadeInRight"
        style="visibility: visible; animation-name: fadeInRight;">
        <div class="container-container" data-toggle="modal" data-target="#yat">
          <article class="text-left wow wobble slower" style="visibility: visible; animation-name: wobble;">
            <h2>Ятѣ</h2>
            <h4>Натуральный обмен ценностями</h4>
          </article>
          {{ $image := resources.Get "img/pro-yat.png" }}
          {{ $image := $image.Resize "x515" }}
          <img loading="lazy" src="{{ $image.RelPermalink }}" class="team-member-thumbnail">

        </div>
      </div>
      <div class="modal fade" id="yat" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Ятѣ: система обмена ценностями
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>
                Ять - это открытая, неизменяемая и доказуемая бухгалтерская
                книга; система, позволяющая прозрачно следить за движениями
                средств внутри себя.
              </p>
              <p>
                Ять - это не рубль, не криптовалюта и не платёжная система -
                это обмен ценностями, правами и обязательствами.
              </p>
              <p>
                Ять - это умные контракты, которые заключаются также просто,
                как рукопожатие.
              </p>
              <p>
                В основе находится направленный ациклический граф - цепочка
                транзакций, где каждая следующая подтверждает легитимность
                предыдущей. Это достигается благодаря системе хэширования -
                генерации уникальных цифровых отпечатков данных и их связи в
                единую ориентированную структуру. Малейшие попытки
                манипулирования её историей немедленно и лавинообразно
                приведут к недостоверности всей цепочки. Такая особенность
                делает бессмысленными подобные действия, ведь открытую
                историю может алгоритмически проверить любой желающий и
                убедиться в её целостности.
              </p>
              <p><a href="https://xn--90ahtfqs9d.xn--p1ai/">нерубль.рф</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-md-0 container_foto wow fadeInLeft"
        style="visibility: visible; animation-name: fadeInLeft;">
        <div class="container-container" data-toggle="modal" data-target="#gw">
          <article class="text-left wow wobble slower" style="visibility: visible; animation-name: wobble;">
            <h2>GreenWord</h2>
            <h4>Позитивный инфопоток</h4>
          </article>
          {{ $image := resources.Get "img/pro-gw.png" }}
          {{ $image := $image.Resize "x515" }}
          <img loading="lazy" src="{{ $image.RelPermalink }}" class="team-member-thumbnail">
        </div>
      </div>
      <div class="modal fade" id="gw" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                GreenWord: человек и природа
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>
                GreenWord мы произносим как гринво́рд и понимаем как зелёное
                слово. Для нас зелёный цвет - это яркость жизни. Даже когда
                голубое небо закрыто серыми тучами, зелёный цвет всегда под
                рукой. Просто посмотрите на листик, ведь вся мудрость
                вселенной пульсирует в нём. Зелёный цвет не является для нас
                символом борьбы за экологию, это простое стечение слов. Мы
                ценим жизнь, а борьба противоречит этой ценности.
              </p>
              <p>Мы говорим Зелёным Словом</p>
              <p>
                О животных, растениях, человеке, земных и внеземных
                пространствах и разнообразных связях этих систем.
              </p>
              <p>
                Мы выражаем благодарность Природе за её мудрость,
                великолепие разнообразия, красоту, естественную связь всего
                живого и данную нам возможность наслаждаться, творить,
                развиваться и жить.
              </p>
              <p>
                О чём мы повествуем: виртуальные путешествия, картинки
                удалённых уголков света, любопытнейшие виды растений и
                животных, творческие изыскания в контексте природы,
                экологические перспективы - глобальные и персональные,
                альтернативные способы сохранения здоровья Планеты и
                Человека на ней, уникальные природные явления, глубокие
                авторские взгляды на мир вокруг.
              </p>
              <p>
                Мы заботимся о достоверности публикуемой информации: создаём
                авторские тексты, часто основываясь на зарубежных
                материалах, уделяем обязательное внимание сохранению
                источников, используем авторские иллюстрации.
              </p>
              <p><a href="https://greenword.ru/">greenword.ru</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-md-0 container_foto wow fadeInRight"
        style="visibility: visible; animation-name: fadeInRight;">
        <div class="container-container" data-toggle="modal" data-target="#incripto">
          <article class="text-left wow wobble slower" style="visibility: visible; animation-name: wobble;">
            <h2>Incripto</h2>
            <h4>Зашифрованный одноранговый чат</h4>
          </article>
          {{ $image := resources.Get "img/pro-incripto.png" }}
          {{ $image := $image.Resize "x515" }}
          <img loading="lazy" src="{{ $image.RelPermalink }}" class="team-member-thumbnail">
        </div>
      </div>
      <div class="modal fade" id="incripto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Incripto: крипто-тоннель
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Сейчас вариант использования видится следующим:</p>
              <p>
                1. Алиса генерирует (или использует имеющийся) Приватный
                Ключ (далее Ключ). Из него алгоритм выводит Публичный Адрес
                (далее Адрес), который по открытым каналам в виде выданной
                ссылки передаётся Шляпнику.
              </p>
              <p>
                2. Шляпник, перейдя по ссылке и генерируя (или используя
                существующий) Ключ, получает свой Адрес и имеет на руках уже
                всё необходимое для переписки с Алисой.
              </p>
              <p>
                3. И мне так не хочется на пальцах расписывать дальнейшие
                действия :) так что будем надеяться, что Шляпник методом
                тыка или разумных действий таки пишет первое зашифрованное
                сообщение Алисе, подписывая его своим Ключом и прикрепляя к
                нему обратный Адрес.
              </p>
              <p>
                4. Теперь только Алиса сможет, расшифровав это сообщение
                своим Ключом и Адресом Шляпника, прочитать его.
              </p>
              <p>
                5. Конфиденциальный и приватный канал связи открыт. Теперь
                никто и никогда не узнает о чём же сейчас говорят Алиса и
                Шляпник, ведь это их личное дело. А когда они закончат, то
                просто закрыв браузеры, сотрут историю своей переписки
                навсегда.
              </p>
              <p>
                6. История умалчивает, что было нужно Красной Королеве,
                которая ещё тысячи лет будет пытаться прочитать (просчитать)
                хоть одно сообщение из того диалога, но доподлинно известно,
                что Чеширскому Коту (:серверу:) было изначально всё равно;
                он просто перекидывал летающие от Алисы к Шляпнику и в
                обратную сторону сгустки шифробредятины, не то что не
                пытаясь сохранить их копию у себя для дальнейшего изучения,
                но даже практически не держа их в руках.
              </p>
              <p><a href="https://yzoz.com/">yzoz.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-md-0 container_foto wow fadeInLeft"
        style="visibility: visible; animation-name: fadeInLeft;">
        <div class="container-container" data-toggle="modal" data-target="#onefabric">
          <article class="text-left wow wobble slower" style="visibility: visible; animation-name: wobble;">
            <h2>Умный</h2>
            <h4>Квест на развитие</h4>
          </article>
          <img src="https://questkislovodsk.ru/images/demo.png">
        </div>
      </div>
      <div class="modal fade" id="onefabric" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Quest0
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>
                Команда разработчиков вдохновилась популярной концепцией квестов в комнатах, где люди собираются,
                чтобы решать загадки и головоломки, чтобы выбраться из запертого помещения. Они решили создать сайт,
                который позволил бы людям погружаться в мир пиратских квестов, не покидая своего дома.
              </p>
              <p>
                Программисты начали работать над созданием уникальной игровой платформы, которая предлагала бы
                увлекательный пиратский сюжет, интересные загадки и головоломки, и возможность сотрудничать с
                друзьями, чтобы решить все задачи и найти сокровище.
              </p>
              <p>Команда также добавила различные уровни сложности, чтобы игроки с разным уровнем опыта и возраста
                могли насладиться игрой.</p>
              <p>После месяцев разработки и тестирования, сайт для пиратского квеста в комнате был выпущен и мгновенно
                стал популярным среди фанатов приключений и загадок.</p>
              <p><a href="https://questkislovodsk.ru">Умный Квест</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-md-0 container_foto wow fadeInRight"
        style="visibility: visible; animation-name: fadeInRight;">
        <div class="container-container" data-toggle="modal" data-target="#enlightenment">
          <article class="text-left wow wobble slower" style="visibility: visible; animation-name: wobble;">
            <h2>Мой Кавказ</h2>
            <h4>Сильный сайт по туризму</h4>
          </article>
          {{ $image := resources.Get "img/pro-maratgo.png" }}
          {{ $image := $image.Resize "x515" }}
          <img loading="lazy" src="{{ $image.RelPermalink }}" class="img-fluid w-100 rounded" width="372px">
        </div>
      </div>
      <div class="modal fade" id="enlightenment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Марат GO
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>В начале создания сайта туристического агентства стояла задача объединить всех клиентов в одном
                месте, чтобы им было удобно и быстро ознакомиться с предлагаемыми турами, отелями, экскурсиями и
                другими услугами. Команда разработчиков провела маркетинговое исследование, чтобы понять, какие
                функциональности и удобства оценили бы потенциальные клиенты. Затем началась работа по созданию
                дизайна сайта, который был интуитивно понятен и привлекателен для пользователей. Разработчики также
                уделяли внимание оптимизации сайта для всех устройств, чтобы он был доступен и удобен для пользования
                как на компьютере, так и на мобильных устройствах.</p>
              <p>Когда дизайн был готов, началась работа по программированию функциональных возможностей, таких как
                поиск туров, онлайн-бронирование, оплата услуг, отзывы клиентов и многое другое. Также важной частью
                работы была интеграция сайта с платежными системами и базами данных отелей и туроператоров, чтобы
                информация на сайте была всегда актуальной.</p>
              <p>После успешного запуска сайта туристического агентства, команда провела ряд тестов, чтобы
                удостовериться, что все функциональности работают корректно и пользователи могут без проблем
                пользоваться сайтом.</p>
              <p>
                <a href="https://maratgo.ru/">Туризм на Кавказе</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-md-0 container_foto wow fadeInLeft"
        style="visibility: visible; animation-name: fadeInLeft;">
        <div class="container-container" data-toggle="modal" data-target="#mc">
          <article class="text-left wow wobble slower">
            <h2>Интернет магазин Сладостей</h2>
            <h4>Бутик MC Chocolaterie</h4>
          </article>
          {{ $image := resources.Get "img/pro-mc.png" }}
          {{ $image := $image.Resize "x515" }}
          <img loading="lazy" src="{{ $image.RelPermalink }}" class="img-fluid w-100 rounded" width="372px">
        </div>
      </div>
      <div class="modal fade" id="mc" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Интернет магазин Сладостей
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Mcchocolaterie.ru</p>
              <p>
                Бутик MC Chocolaterie Бутик MC Chocolaterie — это шоколадный
                бренд класса luxe, представленный в самом сердце города
                Новороссийска. Знаменитый своими шоколадными изделиями
                высочайшего качества, наш бренд перенес лучшие традиции
                европейской культуры в Россию.
              </p>
              <p>
                <a href="https://mcchocolaterie.ru/">mcchocolaterie.ru</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-md-0 container_foto wow fadeInRight"
        style="visibility: visible; animation-name: fadeInRight;">
        <div class="container-container" data-toggle="modal" data-target="#ht">
          <article class="text-left wow wobble slower">
            <h2>Сердце Города</h2>
            <h4>Информационный портал для труристов</h4>
          </article>
          {{ $image := resources.Get "img/pro-ht.png" }}
          {{ $image := $image.Resize "x515" }}
          <img loading="lazy" src="{{ $image.RelPermalink }}" class="img-fluid w-100 rounded" width="372px">
       
        </div>
      </div>
      <div class="modal fade" id="ht" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Все активности заведения и мероприятия
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>
                Рады приветствовать вас на нашем информационном портале
                посвященном городк - курорту Кисловодску
              </p>
              <p>
                Активности в нашем городе подобраны для каждого, будет
                трудно не найти себе развлечение, особенно в туристический
                сезон
              </p>
              <p>
                Мероприятия и спортивные площадки для детей и подростков
              </p>
              <p>
                Кинозалы, Экскурсии, Музеи для исследователей и
                путешествиников
              </p>
              <p>Эктремальные виды спорта и соревнования</p>
              <p>Семейные парки отдыха и велопрогулки</p>
              <p>Все это и даже больше на портале:</p>
              <p>
                <a href="https://xn--b1aekhddvbxf.xn--80asehdb">Сердце Города</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>