<section class="hiro-section" id="services">
    <div class="container">
        <div class="service-section">
          <h2 class="section-title career-section-title"><a href="/services/" class="link">Услуги</a></h2>
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                  <h6 class="service-category-title">Development</h6>
                  <ul class="service-list list-group list-group-flush">
                      <li class="list-group-item">
                        <a href="/services/website" class="link">Сайты, лендинги и порталы</a>
                      </li>
                      <li class="list-group-item">
                        <a href="/services/web-applications" class="link">Прогрессивные веб-приложения</a>
                      </li>
                      <li class="list-group-item">
                        <a href="/services/mobile-app" class="link">
                          Мобильные приложения Android и iOS
                      </a>
                    </li>
                      <li class="list-group-item">
                        <a href="/services/telegram-bots" class="link">Telegram-боты</a>
                      </li>
                      <li class="list-group-item">
                        <a href="/services/qr-marketing" class="link">QR-маркетинг</a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-4 mb-4 mb-md-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                  <h6 class="service-category-title">Research</h6>
                  <ul class="service-list list-group list-group-flush">
                      <li class="list-group-item">
                        <a href="/services/big-data" class="link">Сбор больших данных</a>
                      </li>
                      <li class="list-group-item">
                        <a href="/services/storage" class="link">
                          Хранение, обработка и визуализация
                      </a>
                    </li>
                      <li class="list-group-item">
                        <a href="/services/browser-automation" class="link">
                          Веб-скрейпинг и автоматизация браузера
                      </a>
                    </li>
                      <li class="list-group-item">
                        <a href="/services/blockchain" class="link">
                          Интеграция в блокчейн и смарт-контракты
                      </a>
                    </li>
                      <li class="list-group-item">
                        <a href="/services/neural-networks" class="link">
                          Машинное обучение и нейронные сети
                      </a>
                    </li>
                  </ul>
              </div>
              <div class="col-md-4 mb-4 mb-md-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                  <h6 class="service-category-title">DevOps</h6>
                  <ul class="service-list list-group list-group-flush">
                      <li class="list-group-item">
                        <a href="/services/cloud-infrastructure-administration" class="link">
                          Администрирование облачной инфраструктуры
                      </a>
                    </li>
                      <li class="list-group-item">
                        <a href="/services/continuous-integration-and-deployment" class="link">
                          Непрерывные интеграция и развёртывание
                      </a>
                    </li>
                      <li class="list-group-item">
                        <a href="/services/containerization-of-applications" class="link">Контейнеризация приложений</a>
                      </li>
                      <li class="list-group-item">
                        <a href="/services/document-oriented-databases" class="link">
                          Документоориентированные базы данных
                      </a>
                    </li>
                      <li class="list-group-item">
                        <a href="/services/flexible-development-methodologies" class="link">Гибкие методологии разработки</a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
  .link {
    text-decoration: none;
    color: inherit;
  }
</style>

