<section class="hiro-section" id="services">
    <div class="container">
        <div class="service-section">
            <h2 class="section-title career-section-title">Услуги</h2>
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <h6 class="service-category-title">Development</h6>
                    <ul class="service-list list-group list-group-flush">
                        <li class="list-group-item">Сайты, лендинги и порталы</li>
                        <li class="list-group-item">Прогрессивные веб-приложения</li>
                        <li class="list-group-item">
                            Мобильные приложения Android и iOS
                        </li>
                        <li class="list-group-item">Telegram-боты</li>
                        <li class="list-group-item">QR-маркетинг</li>
                    </ul>
                </div>
                <div class="col-md-4 mb-4 mb-md-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <h6 class="service-category-title">Research</h6>
                    <ul class="service-list list-group list-group-flush">
                        <li class="list-group-item">Сбор больших данных</li>
                        <li class="list-group-item">
                            Хранение, обработка и визуализация
                        </li>
                        <li class="list-group-item">
                            Веб-скрейпинг и автоматизация браузера
                        </li>
                        <li class="list-group-item">
                            Интеграция в блокчейн и смарт-контракты
                        </li>
                        <li class="list-group-item">
                            Машинное обучение и нейронные сети
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 mb-4 mb-md-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <h6 class="service-category-title">DevOps</h6>
                    <ul class="service-list list-group list-group-flush">
                        <li class="list-group-item">
                            Администрирование облачной инфраструктуры
                        </li>
                        <li class="list-group-item">
                            Непрерывные интеграция и развёртывание
                        </li>
                        <li class="list-group-item">Контейнеризация приложений</li>
                        <li class="list-group-item">
                            Документоориентированные базы данных
                        </li>
                        <li class="list-group-item">Гибкие методологии разработки</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>